<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030099131065-be859gddggpt0bi0p23igg6hiapguhtg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030099131065-be859gddggpt0bi0p23igg6hiapguhtg</string>
	<key>API_KEY</key>
	<string>AIzaSyAPmx451iNNg3xpydNV9Ur-odppZhMcl_I</string>
	<key>GCM_SENDER_ID</key>
	<string>1030099131065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>siha-c7255</string>
	<key>STORAGE_BUCKET</key>
	<string>siha-c7255.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030099131065:ios:487d190eb7290e3b829968</string>
</dict>
</plist>